<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.column.dao.IFilmMapper">
	<resultMap id="BaseResultMap" type="com.my.column.entity.Film">
		<id column="film_id" jdbcType="VARCHAR" property="film_id" />
	</resultMap>
	<select id="getFilmById" parameterType="string" resultMap="BaseResultMap">
		select * from film where film_id=#{_parameter}
	</select>

	<select id="getAllFilms" parameterType="string" resultMap="BaseResultMap">
		select * from film LIMIT 20
	</select>

	<select id="getFilmByKeyWord" parameterType="string" resultMap="BaseResultMap">
		select * from film where WHERE film_summary LIKE CONCAT('%', #{_parameter}, '%')
	</select>
	
	<select id="getFilmUnLucene" resultMap="BaseResultMap">
		select * from film where islucene=1 and film_name!=''
	</select>
	
	<update id="updateFilmLucene" parameterType="string">
		update film set islucene=1 where film_id=#{_parameter}
	</update>
</mapper>